In [15]:
import pandas as pd
import numpy as np
import csv
df = pd.read_csv('/home/az/dev/atvisor/nlp/classifier/data/cat_2018.csv')

In [16]:
df.columns = df.columns.str.lower()

In [17]:
df['categorical'] = pd.Categorical(df['category title (level 2)'])

In [18]:
df_dummies = pd.get_dummies(df['categorical'], prefix = 'category')

In [19]:
new_df = df[['category id (level 2)', 'sub category title (level 3)']].copy()

In [20]:
res = pd.concat([new_df, df_dummies], axis=1)

In [24]:
res.columns = res.columns.str.lower()

In [26]:
new

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>category id (level 2)</th>
      <th>sub category title (level 3)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1581</td>
      <td>Erase board</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1581</td>
      <td>Plaid fold board</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1581</td>
      <td>Planing whiteboards</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1581</td>
      <td>White board</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1581</td>
      <td>Whiteboard Reminders</td>
    </tr>
  </tbody>
</table>
</div>